<h1>Dados</h1>

<table>
  <thead>
    <tr>
        <% @classe.column_names.each do |attribute| %>
          <th><%= attribute.humanize %></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @objetos.each do |objeto| %>
      <tr>
        <% objeto.attribute_names.each do |attribute| %>
        <td><%= objeto.send(attribute) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


